.Me{
  color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;

}

.pltw{
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

body{
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(32,78,153,0),rgba(32,78,153,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(32,78,153,0),rgba(32,78,153,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(32,78,153,0),rgba(32,78,153,1)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(32,78,153,0), rgba(32,78,153,1)); /*Standard*/
}
