.Mywork{
  border: 2px solid black;
  width: 50%;
  background-color: white;
  text-align: center;
  height: 150px;
  margin-left: 25%;
}
body{
  background-color: #8188c4;
}
.bodymarks{
  width: 50%;
  text-align: center;
  height: 150px;
  margin-left: 25%;
  color: white;
}
#link1{
  color: blue;
  text-align: center;
  font-size: 30px;
  padding-right: 50px;

}

#link2{
color:red;
font-size: 30px;
}
.link{
  text-align: center;
}
